.message {
    display: flex;
    align-items: center;
    padding: 20px;
    color: white;
}

.message__info {
    margin-left: 20px;
}

.message__info>h4 {
    font-size: large;
}

.message__timestamp {
    margin-left: 20px;
    color: #0077b6;
    font-size: x-small;
}